.sideBar {
    position: fixed;

    top: 60px;

    height: calc(100vh);

    width: 300px;
    background-color: rgb(34, 31, 31);




    left: -100%;
    transition: left 0.4s ease;

    z-index: 50;
}

.sideBar.open {
    left: 0;
    transition: left 0.4s ease;

}